
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald&family=Roboto&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="/css/login.css">
   
    <title>LogIn</title>
</head>

<header>

    <section class="achicar">
        
        <img src="../img/logo-mercado-liebre.svg" alt="LogoMercadoLibre">
        
        <label>
            
            <input type="text" id="caja" name="caja" placeholder="Buscar Productos"><i class="fa-solid fa-magnifying-glass"></i>
            
        </label>
        
        <h4><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h4>
        
    </section>

    <br>

    <nav>

        <ul>
 
            <li><a href="#">Ofertas</a></li>
            
            <li><a href="#">Tiendas Oficiales</a></li>
            
            <li><a href="#">Vender</a></li>
            
            <li><a href="#">Ayuda</a></li>


        </ul>

    </nav>

    <br>

    <nav>

        <ul>

            <li><a href="/register">Crea tu Cuenta</a><i class="fa-solid fa-id-card"></i></li>
            
            <li><a href="/login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
            
            <li><a href="#">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            
        </ul>
        
    </nav>

</header>

<body>

    <form action="/"  method="POST">

        <section class="nombreusuario">

            <label for="nombre"></label>
            
            <input type="text" name="nombre" id="nombre" placeholder="Nombre Usuario">
            
        </section>
            
        <section class="contraseña">

            <label for="e-Contraseña"></label>
            
            <input type="password" name="e-Contraseña" id="e-Contraseña" placeholder="Elegí tu Contraseña">
            
        </section>
            
        <section class="boton">

            <input type="submit" name="enviar" id="enviar">
            
        </section>

    </form>

    <footer>

        <section>

            <i class="fa-solid fa-credit-card"></i>

            <h5>Paga con tarjeta o efectivo</h5>
            
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en<br>
                puntos de pago. ¡Y siempre es seguro!
            </p>

            <hr>

            <i class="fa-solid fa-gift"></i>

           <h5>Envio gratis desde $2500</h5>

            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de<br>
                productos. Es un beneficio de Mercado Puntos.
            </p>

            <hr>

            <i class="fa-solid fa-user-shield"></i>

            <h5>Seguridad, de principio a fin</h5>

            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,<br>
                porque estás siempre protegid@.
            </p>

            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>

        </section>

    </footer>

</body>
</html>